DB_HOST= db
DB_USER= root
MYSQL_ROOT_PASSWORD=""
DB_PASSWORD=""
DB_NAME=gtfs
JWT_SECRET=""
OTP_API_URL=http://otp-server:8080/otp/routers/default
PORT=5000
IYZICO_API_KEY=""
IYZICO_SECRET_KEY=""
IYZICO_BASE_URL=https://sandbox-api.iyzipay.com
IYZICO_CALLBACK_URL=""
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_FROM=""
